/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.courseContainer{
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.courseContainer button{
    width: fit-content;
}

.topicsContainer {
    width: 60%;
    height: fit-content;  /* Maintain content-based height (optional) */
  }

  .topicTagField {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-inline-start: 0;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 0.8rem;  /* Adjust font size if needed */
    line-height: 1.2;   /* Adjust line height if needed */
  }

.topicTagField li{
    background-color: #000;
    height: fit-content;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
