.loginContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 650px;
  width: 500px;
  border-radius: 24px;
  transform: translate(-50%, -30%);
  background-color: white;
}

.loginForm {
    padding: 50px;
}

.avItem2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.loginTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}

.loginText {
  display: flex;
  justify-content: center;
  align-items: center;
}