/* Navigation Bar */
.navBar {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 18px;
  }
  
  /* Navigation bar Item */
  .navItem {
    text-decoration: none;
    color: #666666;
    font-size: 16px;
    padding: 20px;
    transition: 0.5s;
  }
  
  /* Hover effects for the navigation item */
  .navItem:hover {
    color: #068C1F;
    transition: 0.5s;
  }
  
  /* Logo item next to navigation bar */
  .siteLogo {
    height: 38px;
  }
  
  /* Login & Signup button container */
  .logContainer {
    margin-left: auto;
  }
  
  /* Login button */
  .loginBtn {
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* Login button hover effects */
  .loginBtn:hover {
    color: white;
    background: black;
    transition: 0.5s;
  }
  
  /* Signup button */
  .signupBtn {
    padding: 12px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
  }
  
  /* Signup button hover effects */
  .signupBtn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  