.timer {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
}

.exam-info-header, .timer-text {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.exam-info-header {
    margin-bottom: 40px;
}

.subject-info, .exam-meta-info {
    display: flex;
    justify-content: space-between;
    margin-block: 15px;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-panel {
    width: 20%;
    margin-left: 100px;
    padding: 20px;
    margin-right: 100px;
    border-radius: 25px 0px 25px 0px;
    position: sticky;
    top: 150px;
    height: 450px;
    background-color: white;
}

.mf {
    margin-right: 500px;
}

.exam-info {
    margin-top: 40px;
}

.questions-remaining {
    text-align: center;
    font-size: 1.25rem;
}

.subject-tag, .exam-type {
    font-weight: bold;
}

.exams-container {
    display: flex;
    flex-direction: row-reverse;
}

.exams-container-on-popup {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.exam-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.working-panel {
    border-radius: 0px 0px 5px 5px;
    background-color: green;
    width: 50px;
    height: 25px;
    margin-top: -20px;
}

.working-panel:hover {
    cursor: pointer;
}

.question-on-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.exam-page {
    display: flex;
    flex-direction: column;
}

.submit-ans {
    background-color: white;
    color: green;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.25rem;
    transition: 0.3s;
}

.submit:hover {
    border: 1px solid white;
    background-color: green;
    color: white;
    cursor: pointer;
}

.submit-inverse {
    background-color: green;
    color: white;
    border: 1px solid green;
    padding: 10px;
    border-radius: 50px;
    margin-block: 70px;
    font-size: 1.25rem;
    transition: 0.3s;
}

.submit-inverse:hover {
    border: 1px solid green;
    background-color: white;
    color: green;
    cursor: pointer;
}

.questions-container {
    margin-top: 40px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.popup-container {
    backdrop-filter: blur(5px);
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups {
    background-color: green;
    border-radius: 25px;
    height: 500px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.top-popup {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.middle-popup {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.bottom-popup {
    display: flex;
    justify-content: space-around;
}