.hidden {
    display: none;
}

.question-review {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.qrt {
    display: flex;
    justify-content: space-between;
}

.qr-mark-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.qr-mark {
    color: green;
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-qr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vh-det {
    height: 100vh;
    width: 100vw;
}