.forumContainer {
  background-color: #ffffff;
}

.addQuestionBtn {
  color: #666666;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 14px;
}

.addQuestionBtn:hover {
  color: #4a9dec;
  transition: 0.5s;
  cursor: pointer;
  transition: all 0.2s;
}

.forumTitle {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0;
}

.fHeaderContainer {
  margin: 20px;
}

.forumHeader {
  background: rgb(237,255,238);
  background: linear-gradient(180deg, rgba(237,255,238,1) 18%, rgba(244,243,243,1) 85%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 20px;
}

.searchContainer {
  background: rgb(237,255,238);
  background: linear-gradient(180deg, rgba(237,255,238,1) 18%, rgba(244,243,243,1) 85%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.searchQuestion {
  border: 2px solid #666666;
  width: 60em;
  height: 3em;
  padding-left: 0.8em;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.searchQuestion:hover, .searchQuestion:focus, .searchQuestion:active {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

select {
  border: 2px solid #666666;
  width: 10em;
  height: 3em;
  padding-left: 0.8em;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

select:hover, select:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}





.card {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Forum Buttons */
.forumBtn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: black;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.forumBtn:hover {
  background-color: #0056b3;
}

/* Headings */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Forum Questions */
.question {
  margin-bottom: 30px;
}

/* Answer Form */
.replyForm {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin for spacing */
}