.progress-container {
    display: flex;
    align-items: center;
}

.avg-mark-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}