body {
    background-color: green;
}

.question-component-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
    width: 60%;
    margin: 5px;
    padding: 15px;
}

.main-question-container {
    width: 100%;
}

.main-text-container {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}

.mq-num {
    margin-right: 25px;
}

.sub-question-text-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.sq-num {
    margin-right: 15px;
    font-weight: bold;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    margin-block: 10px;
    width: 40%;
    margin-left: 35px;
    height: 30px;
    padding-block: 5px;
    padding-inline: 10px;
}

.sub-question-text {
    font-size: 1.1rem;
}

.answer-for-sub-question {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.sub-question {
    margin-bottom: 25px;
    width: 100%;
}

.sub-question-container {
    width: 100%;
}

.mq-answer-container {
    display: flex;
    justify-content: space-between;
}

.mark-for-mq {
    align-self: flex-end;
}