/* Website background container */
.backgroundContainer {
  background-color: black;
  width: fit-content;
}

/* Background image of the website */
.bgImg {
  opacity: 0.5;
  background-image: url("/images/background.png");
}

.itemsContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.webText {
  color: white;
  font-size: 64px;
}

  /* Login button */
  .coursesBtn {
    padding: 12px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.5s;
  }

  /* Login button hover effects */
  .coursesBtn:hover {
    color: black;
    background: white;
    transition: 0.5s;
  }