/* Website background container */
.backgroundContainer {
  background-color: black;
  width: fit-content;
}

/* Background image of the website */
.bgImg {
  opacity: 0.5;
}

.webTitle {
  font-weight: bold;  
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 64px;
  color: white;
}

.webSub {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 64px;
  color: white;
}
