.errorPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.linkBtn {
    padding: 10px;
    text-decoration: none;
    color: #666666;
    transition: 0.5s;
}

.linkBtn:hover {
    color: #068C1F;
    transition: 0.5s;
}